$text: #FFFFFF;

@font-face {
    font-family: Cyclone;
    src: url("../fonts/Cyclone\ Background.otf") format("opentype");
}
@font-face {
    font-family: "Futura Bold";
    src: url("../fonts/Bitstream\ -\ FuturaBT\ Bold.otf") format("opentype");
}
@font-face {
    font-family: "Futura Medium";
    src: url("../fonts/Bitstream\ -\ FuturaBT\ Medium.otf") format("opentype");
}

@mixin title {
    font-family: Cyclone, Impact;
    text-transform: uppercase;
    color: $text;
}
@mixin sub-title {
    font-family: "Futura Bold", Calibri;
    color: $text;
}
@mixin body {
    font-family: "Futura Medium", Calibri;
}

body {
    background-color: #009844;
}
label {
    @include body;
    color: $text;
    font-size: 2rem;
}
input {
    @include body;
    font-size: 1.25rem;
}
select, textarea, button {
    @include body;
}
h1 {
    @include title;
    font-size: 8em;
    line-height: .9em;
}
h2 {
    @include sub-title;
    font-size: 35px;
}
p {
    @include body;
    color: $text;
    font-size: 2rem;
}
select {
    cursor: pointer;
}

.option {
    width: 25%;
}

#survey-form {
    margin: auto;
    width: 90%;
    padding: 1.5rem;
    background-color: #000000;
}
#submit {
    width: 100%;
}
#ageHelp {
    @include body;
    color: $text;
}